@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body {
    font-family: "Nunito", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
#file{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 15px;
    padding: 5px;
    font-size: 1em;
    background-color: rgb(213, 213, 213);
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 10px 0 5px;
}

input, select, textarea, button {
    margin: 5px 0 10px;
    padding: 10px;
    font-size: 1em;
}

#timelineContainer {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

.time-unit {
    width: 20px;
    height: 20px;
    margin: 1px;
    background-color: #e0e0e0;
    position: relative;
}

.time-unit:hover:after {
    content: attr(data-date);
    position: absolute;
    top: -20px;
    left: -20px;
    background: rgba(0,0,0,0.75);
    color: white;
    padding: 3px;
    border-radius: 5px;
    font-size: 0.75em;
}

.past {
    background-color: black;
}

.present {
    background-color: yellow;
}

#interactionContainer {
    margin-top: 20px;
}

#resultContainer {
    margin-top: 20px;
}

.event {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

img, video, audio {
    max-width: 30vw;
    max-height: auto;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#contentForm {
    display: none;
}
