.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1 {
  font-size: 3.5rem;
  margin: 0;
}

.p {
  margin: 0.5rem 0;
}
