/* Стилі для контейнера та верхнього контролю */
.container {
  padding: 20px;
  text-align: center;
}

.topControls {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 0 10px;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.dropbtn:hover {
  background-color: #51dd55;
  transition: 0.5s;
}
.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownContent button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background: #bce1c7;
  border: none;
  width: 100%;
  text-align: left;
}

.dropdownContent button:hover {
  background-color: #d8cd6a;
  transition: 0.5s;
}

.dropdown:hover .dropdownContent {
  display: block;
  transition: 0.5s;
}

.themeButton {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.themeButton:hover {
  background-color: #51dd55;
  border-radius: 50%;
  transform: rotate(180deg);
  transition: 1s;
}
.controls {
  margin-bottom: 20px;
}

.controls button {
  margin: 0 10px;
  padding: 10px 20px;
  background: #aedfb0;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 1s;
}
.controls button:hover {
  background: #12c612;
  transition: 1s;
}
.search {
  margin: 10px 0;
  padding: 10px 20px;
  background: #aedfb0;
  border-radius: 10px;
}
.searchButton {
  padding: 10px 25px;
  margin-top: 10px;
  background: #1db72d;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
}
.searchButton:hover {
  background: #1edf1e;
  transition: 0.5s;
}
.searchButton:active {
  background: #00ff00;
  transition: 0.5s;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45px, 1fr));
  gap: 15px;
  justify-content: center;
}

.gridItem {
  width: 35px;
  height: 35px;
}

.square {
  background-color: transparent;
  border: black 3px solid;
  transition: 1s;
}
.square:hover {
  transform:scale(1.5) rotate(90deg);
  transition:cubic-bezier(1, 0, 0, 1);
}
.circle {
  background-color: transparent;
  border: black 3px solid;
  border-radius: 50%;
  transition: 1s;
}
.circle:hover {
  transform:scale(1.5);
  transition:cubic-bezier(1, 0, 0, 1);
}
.heart {
  background-color: transparent;
  position: relative;
  width: 35px;
  height: 35px;
  transform: rotate(-45deg);
  box-shadow: 1px 1px 5px 1px black;
  transition: 0.8s;
  margin-bottom: 5px;
}
.heart:hover {
  transform: scale(1.1) rotate(45deg);
  transition:cubic-bezier(1, 0, 0, 1);
}
.heart:before,
.heart:after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: transparent;
  transition: 0.8s;
}

.heart:before {
  top: -10px;
  left: 0;
}

.heart:after {
  left: 10px;
  top: 0;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}
/* Dark mode styles*/
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode .dropbtn {
  background-color: #333;
}

body.dark-mode .dropdownContent {
  background-color: #333;
  color: #fff;
}

body.dark-mode .dropdownContent button {
  color: #fff;
}

body.dark-mode .dropdownContent button:hover {
  background-color: #444;
  transition: 0.5s;
}

body.dark-mode .themeButton {
  background-color: #333;
}

body.dark-mode .gridItem {
  background-color: transparent;
}

body.dark-mode .square {
  background-color: transparent;
}

body.dark-mode .circle {
  background-color: transparent;
}

body.dark-mode .heart {
  background-color: transparent;
}

body.dark-mode .heart:before,
body.dark-mode .heart:after {
  background-color: transparent;
}

body.dark-mode .red {
  background-color: #ff0000;
}

body.dark-mode .text {
  color: #ffffff;
}
