.moment {
  margin: 10px;
  padding: 15px;
  margin-bottom: 20px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.moment img,
.moment video {
  width: 100%;
  max-width: 500px;
}

.moment button {
  background: #9e9e9e;
  margin: 10px 5px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
