.profileEditContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .formGroup {
    margin-bottom: 20px;
  }
  
  .formGroup label {
    display: block;
    margin-bottom: 5px;
  }
  
  .formGroup input, .formGroup textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .formGroup input[type="file"] {
    padding: 3px;
  }
  
  button {
    padding: 10px 20px;
    cursor: pointer;
  }
  